<ion-view title="ReviveHydration">
  <ion-content>


<div class="main">
        <div class="formarea">
        <div class="login_sec">
       
<h1>Choose your new password.</h1></div>
 <form ng-submit="">
        
          <div class="input-field">
            <input type="password" placeholder="New Password">
            <span class="txtbox_icons"> <i class="fa fa-unlock-alt" aria-hidden="true"></i></span></div>
           <div class="input-field">
            <input type="password" placeholder="Confirm New Password">
            <span class="txtbox_icons"> <i class="fa fa-unlock-alt" aria-hidden="true"></i></span></div> 

           <div class="btn_holder"> <input type="submit" name="submit" id="" class="btns" value="Reset"> </div>
          <div class="forgot_pass txt-center "> Don’t have an account? <a href="#"> Sign Up</a> </div>
        
        </form>
        </div>
      </div>
  </ion-content>
</ion-view>
