<ion-view title="ReviveHydration">
    <ion-content>


        <div class="main">
            <div class="formarea">
                <div class="login_sec forgot_sec">
                    <h2><img src="img/envolope.png" alt="" height="35" width="45"></h2>

                    <p>The email address specified was not found in our system. Please make sure to use the email
                        address that was used during registration.</p>
                    <div class="forgot_pass txt-center "> Don’t have an account? <a ui-sref="app.register"> Sign Up</a></div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
