<ion-view title="ReviveHydration">
  <ion-content>


<div class="main">
        <div class="formarea">
        <form ng-submit="">
        <div class="login_sec ">
     <h2><img src="img/envolope.png" alt="" height="35" width="45"></h2>

<h1>Email Sent</h1>

<p>The email address specified was not found in our system. Please make sure to use the email address that was used during registration.</p>

<div class = "row">
   <div class = "col col-66"><input class="pad-left10"  placeholder="Enter OTP Number" type="text"> </div>
   <div class = "col col-33"> <input type="button" name="submit" id="" class="btns" value="Verify"> </div>
</div>







<p>Didn't receive the One Time Password (OTP) on your email?<a> <u> Click here </u> </a> to resend.</p>


</form>
        </div>
      </div>





















  </ion-content>
</ion-view>
